USERNAME="your_username"
PASSWORD="your_password"
AWS_ACCESS_KEY_ID="OMDSAWHRUI204EXAMPLE"
AWS_SECRET_ACCESS_KEY="FH/J0Wd5o7yNoQ/lS/Cl8oazp8+LFXtwk6DnNfLL"
AWS_SECRET_ACCESS_KEY="REWFE/TREWHG042ifds-0/LG/W+03feFDExaMPle"
AWS_REGION="us-east-1"
S3_BUCKET_NAME="your-bucket-name"
